@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

:root {
  --primary-color: rgba(20, 82, 252, 0.932);
  --secondary-color: #eaf4fa;
  --fruit-color: tomato;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 12px;
  background-color: #f9f9f9;

  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/* Start Nav Bar  */

/* Start Left Side Bar  */

.leftsidebars {
  background-color: #fff;
}

.sidebarlinks {
  opacity: 0.8;

  position: relative;
}

.sidebarlinks:hover {
  opacity: 1;
  color: #fff;

  background: var(--primary-color);
}

.sidebarlinks.currents {
  background-color: var(--primary-color);
  color: #fff;
}

.sidebarlinks .mores {
  position: absolute;
  right: 10px;
  top: 50%;

  transform: translateY(-50%);
}
/* End Left Side Bar  */

/* Start Top Nav Bar  */
.topnav-icons {
  width: 45px;
  height: 45px;
  background-color: var(--secondary-color);

  display: grid;
  place-items: center;

  position: relative;
}
.topnav-icons .badges {
  position: absolute;
  right: 5%;
  top: 15%;
}
.navbar .close-btns {
  width: 25px;
  height: 25px;
  background-color: transparent;
  line-height: 22px;
  border-radius: 50%;
  outline: none;
  cursor: pointer;

  margin-right: 3px;

  display: none;
}

@media (max-width: 768px) {
  .navbar .close-btns {
    display: block;
  }
  .leftsidebars{
    padding-top: 60px;
  }
}
/* End Top Nav Bar  */

/* End Nav Bar  */

/* Start Content Area  */
.secondarys{
  background-color: var(--secondary-color);
  border: none;
}
.showupthemes-icons {
  width: 45px;
  height: 45px;
  background-color: #fff;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
}
/* End Content Area  */
